.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.input-container {
  display: flex;
  margin-bottom: 2rem;
}

.input {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.button {
  background-color: rgb(8, 246, 8);
  padding: 10px;
  border-radius: 5px;
}

.button:hover {
  background-color: black;
  color: white;
}

.container {
  background-color: #f7f7f7;
  box-shadow: 0px 0px 10px gray;
  padding: 10px;
  text-align: center;
}

.cityname {
  font-family: serif;
  padding: 10px;
}

.temp {
  font-size: 30px;
  text-align: left;
  font-family: serif;
}

.coord {
  font-size: 20px;
  text-align: right;
  font-family: serif;
}
